   body {
       background-color: black;
   }
   
   #ejemplo {
       color: green;
   }
   
   table {
       font-family: 'Times New Roman', Times, serif;
       font-size: 25pt;
       color: white;
   }